tools/productivity/google-tasks-add-task/workflow.json
{
  "name": "google_tasks_add_task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google_tasks_add_task",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "name": "Webhook",
      "webhookId": "google_tasks_add_task",
      "notes": "Add a task to Google Tasks. Parameters: title (required) - the task name, notes (optional) - additional details, due (optional) - due date in YYYY-MM-DD format. Examples: 'add task buy groceries', 'add task call mom due tomorrow', 'remind me to submit report by Friday'.",
      "id": "84c62f0b-342f-479d-b4bc-77fc66f20a62"
    },
    {
      "parameters": {
        "jsCode": "// Parse input - handle both JSON string and object formats\nlet data;\n\nif (typeof items[0].json.body === 'string') {\n  data = JSON.parse(items[0].json.body);\n} else if (typeof items[0].json.body === 'object') {\n  data = items[0].json.body;\n} else {\n  data = items[0].json;\n}\n\n// Extract task parameters\nconst title = data.title || '';\nconst notes = data.notes || '';\nlet due = data.due || '';\n\n// Convert due date to RFC 3339 format if provided (YYYY-MM-DD -> full datetime)\nif (due && due.match(/^\\d{4}-\\d{2}-\\d{2}$/)) {\n  due = due + 'T00:00:00.000Z';\n}\n\nreturn [{\n  json: {\n    title: title,\n    notes: notes,\n    due: due\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "name": "Parse Input",
      "id": "f76255c0-2586-4311-8a4d-879895e67308"
    },
    {
      "parameters": {
        "operation": "create",
        "task": "@default",
        "title": "={{ $json.title }}",
        "additionalFields": {
          "dueDate": "={{ $json.due }}",
          "notes": "={{ $json.notes }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "name": "Create Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": null,
          "name": "${GOOGLETASKSOAUTH2API_CREDENTIAL}"
        }
      },
      "id": "e9048b09-b526-4b05-9e30-a94c0e08e303"
    },
    {
      "parameters": {
        "jsCode": "// Format response for voice assistant\nconst task = $input.item.json;\n\nlet message = '';\nconst title = task.title || 'your task';\n\nif (task.due) {\n  const dueDate = new Date(task.due);\n  const options = { weekday: 'long', month: 'long', day: 'numeric' };\n  const formattedDue = dueDate.toLocaleDateString('en-US', options);\n  message = `Done. Added ${title} to your tasks, due ${formattedDue}.`;\n} else {\n  message = `Done. Added ${title} to your tasks.`;\n}\n\nreturn {\n  message: message,\n  task: {\n    id: task.id,\n    title: task.title,\n    notes: task.notes || '',\n    due: task.due || null,\n    status: task.status\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "name": "Format Response",
      "id": "d09c0186-0535-4a19-95e0-0827b276e4d6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ],
      "name": "Respond to Webhook",
      "id": "e0d8e64c-9b01-404c-8600-12810325af89"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner",
    "caal_registry_id": "unNGy4Z4eRfgicmlcgbvDg",
    "caal_registry_version": "1.0.0"
  }
}