tools/social/x-twitter/workflow.json
{
  "name": "x_twitter",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        1936
      ],
      "id": "a9727b71-13fe-4684-9293-3b3ed5514dd2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nconst params = $('Validate Input').item.json;\n\nif (!response || !response.dm_event_id) {\n  return {\n    error: true,\n    message: `Sorry, I couldn't send a direct message to ${params.username}. They may not accept DMs from you.`\n  };\n}\n\nconst dmText = params.text;\nconst previewText = dmText.length > 50 ? dmText.substring(0, 50) + '...' : dmText;\n\nreturn {\n  error: false,\n  message: `I've sent a direct message to ${params.username}: \"${previewText}\"`,\n  dm_id: response.dm_event_id,\n  recipient: params.username\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1552
      ],
      "id": "9809778b-11e6-4ddb-9406-9d2e728211af",
      "name": "Format DM Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\n\nif (!response || !response.id) {\n  return {\n    error: true,\n    message: 'Sorry, I had trouble posting your tweet. Please try again.'\n  };\n}\n\nreturn {\n  error: false,\n  message: `Done. I've posted your tweet: \"${response.text}\"`,\n  tweet_id: response.id,\n  text: response.text\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1360
      ],
      "id": "b0d7345b-0e57-4c39-92a5-4bd09e24502c",
      "name": "Format Tweet Response"
    },
    {
      "parameters": {
        "resource": "directMessage",
        "user": {
          "__rl": true,
          "value": "={{ $json.username }}",
          "mode": "username"
        },
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        784,
        1600
      ],
      "id": "be448f92-1a6e-4ffc-88c0-8bca801beb61",
      "name": "Send DM",
      "credentials": {
        "twitterOAuth2Api": {
          "id": null,
          "name": "${TWITTEROAUTH2API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "text": "={{ $('Validate Input').item.json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        784,
        1312
      ],
      "id": "33eae1ed-f9b3-48e1-8e07-8a4b4adc242b",
      "name": "Post Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": null,
          "name": "${TWITTEROAUTH2API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "validation-error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        2552
      ],
      "id": "ab531bcf-d1e8-46b5-a8de-76d2d950186e",
      "name": "Check Errors"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Use a third-party web service like https://get-id-x.foundtt.com/en/ to find your X ID, or use the get_my_user action\n\nconst SELF_USER_ID = '${SELF_USER_ID}' // MUST be a string\n\n// Do not edit below this\n\nconst body = $input.item.json.body || $input.item.json;\n\nconst action   = (body.action || '').toLowerCase().trim();\nconst text     = (body.text || '').toString().trim();\nconst query    = (body.query || '').toString().trim();\nconst tweet_id = (body.tweet_id || '').toString().trim();\nconst id       = (body.id || '').toString().trim();\nconst username = body.username\n  ? body.username.toString().replace(/\\s+/g, '').replace(/^@/, '').replace(/[^A-Za-z0-9_]/g, '').slice(0, 15)\n  : '';\n\n// --- action → category map ---\nconst categoryMap = {\n  get_tweet:             'tweet_action',\n  post_tweet:            'tweet_action',\n  like_tweet:            'tweet_action',\n  unlike_tweet:          'tweet_action',\n  retweet_tweet:         'tweet_action',\n  unretweet_tweet:       'tweet_action',\n  delete_tweet:          'tweet_action',\n  dm_user:               'user_action',\n  mute_user:             'user_action',\n  unmute_user:           'user_action',\n  get_user_by_query:     'get_user',\n  get_user_by_username:  'get_user',\n  get_my_user:           'get_user',\n  get_blocked_users:     'get_user',\n};\n\nif (!action || !categoryMap[action]) {\n  return {\n    error: true,\n    message: `Sorry, I can't handle \"${action || 'none'}\" action requests yet.`\n  };\n}\n\nconst category = categoryMap[action];\n\n// --- required field check per action ---\nconst fieldRules = {\n  get_tweet:             () => !tweet_id && 'tweet_id',\n  post_tweet:            () => !text     && 'text',\n  like_tweet:            () => !tweet_id && 'tweet_id',\n  unlike_tweet:          () => !tweet_id && 'tweet_id',\n  retweet_tweet:         () => !tweet_id && 'tweet_id',\n  unretweet_tweet:       () => !tweet_id && 'tweet_id',\n  delete_tweet:          () => !tweet_id && 'tweet_id',\n  dm_user:               () => !username ? 'username' : !text ? 'text' : null,\n  mute_user:             () => !id      && 'id',\n  unmute_user:           () => !id      && 'id',\n  get_user_by_query:     () => !query    && 'query',\n  get_user_by_username:  () => !username && 'username',\n  get_my_user:           () => null,\n  get_blocked_users:     () => null,\n};\n\nconst missingField = fieldRules[action]();\nif (missingField) {\n  return {\n    error: true,\n    message: `The \"${action}\" action requires \"${missingField}\".`\n  };\n}\n\nconst numericFields = { id, self_user_id: SELF_USER_ID, tweet_id };\nfor (const [key, value] of Object.entries(numericFields)) {\n  if (value && !/^\\d+$/.test(value)) {\n    return {\n      error: true,\n      message: `The field \"${key}\" must contain only numeric characters.`\n    };\n  }\n}\n\nreturn {\n  error: false,\n  action,\n  category,\n  text,\n  query,\n  username,\n  id,\n  tweet_id,\n  self_user_id: SELF_USER_ID\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        2552
      ],
      "id": "45d65646-7bfa-4b84-9d8d-149b97a43d1b",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "x_twitter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        2552
      ],
      "id": "dd5ae84b-649f-4de0-926a-212ab3ddf322",
      "name": "Webhook",
      "webhookId": "x-twitter-webhook-id",
      "notes": "X (Twitter) automation tool.\n\nREQUIRED (always include):\n  action (string) \u2014 must be exactly one of the values listed below. Do not invent other values.\n\n--- TWEET INTERACTIONS ---\n\n  action: \"get_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to retrieve.\n    \n    Returns: tweet text, creation date, and full engagement metrics (views, likes, retweets, quote tweets, replies, bookmarks)\n    \n    WHEN TO USE: When asked about a specific tweet's content, performance, or engagement stats. Examples: \"How many likes does tweet X have?\", \"What does tweet Y say?\", \"How many views on tweet Z?\"\n\n  action: \"post_tweet\"\n    text (string, required) \u2014 the tweet content.\n\n  action: \"like_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to like.\n\n  action: \"unlike_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to unlike.\n\n  action: \"retweet_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to retweet.\n\n  action: \"unretweet_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to undo a retweet on.\n\n  action: \"delete_tweet\"\n    tweet_id (string, required) \u2014 the ID of the tweet to delete. Can only delete your own tweets.\n\n--- USER ACTIONS ---\n\n  action: \"dm_user\"\n    username (string, required) \u2014 the recipient's X username/handle without the '@' symbol.\n    text (string, required) \u2014 the DM content.\n\n  action: \"mute_user\"\n    id (string, required) \u2014 the numeric user ID to mute.\n\n  action: \"unmute_user\"\n    id (string, required) \u2014 the numeric user ID to unmute.\n\n--- USER LOOKUP ---\n\nThese actions retrieve full user profile data. Use them when asked about:\n  - follower counts, following counts, tweet counts (public_metrics)\n  - whether someone is verified\n  - account creation date\n  - bio/description, location\n  - connection status (are they following you? are you following them? blocking? muting?)\n  - whether they accept your DMs\n  - pinned tweet ID, most recent tweet ID\n\n  action: \"get_user_by_query\"\n    query (string, required) \u2014 a free-text search string (e.g. \"elon musk\"). Returns the top matching user profile with all metrics.\n    \n    WHEN TO USE: When the user asks questions like \"how many followers does X have?\", \"is Y verified?\", \"when did Z join Twitter?\", or provides a name/description rather than an exact username.\n\n  action: \"get_user_by_username\"\n    username (string, required) \u2014 the exact X username/handle, without the @ symbol. Returns full profile with all metrics.\n    \n    WHEN TO USE: When you already know the exact username/handle.\n\n  action: \"get_my_user\"\n    (no other fields needed) \u2014 returns the authenticated user's own profile with all metrics.\n    \n    WHEN TO USE: When asked \"how many followers do I have?\", \"what's my bio?\", etc.\n\n  action: \"get_blocked_users\"\n    (no other fields needed) \u2014 returns a list of all accounts the user has blocked, including their names and usernames.\n\n\nRULES:\n  - All IDs are strings. Always wrap them in quotes, never send as numbers.\n  - \"id\" is always a numeric user ID. Never a username, never a handle.\n  - \"tweet_id\" is always a numeric tweet ID. Never a URL, never tweet text.\n  - \"username\" must not include the @ symbol.\n  - Only include fields that are listed for the action you chose. Do not send extra fields.\n  - If you do not have a required ID or tweet_id, do NOT guess or fabricate one. Use get_user_by_query or get_user_by_username first to retrieve it, then use the returned ID in a follow-up request.\n  \nEXAMPLES:\n  Q: \"How many followers does Elon Musk have?\"\n  → Use get_user_by_query with query: \"elon musk\"\n  \n  Q: \"Can I DM @sama?\"\n  → Use get_user_by_username with username: \"sama\"\n  \n  Q: \"Mute @spambot123 on X\"\n  → First use get_user_by_username with username: \"spambot123\" to get their ID, then use mute_user with that ID\n  \n  Q: \"What's my follower count?\"\n  → Use get_my_user\n  \n  Q: \"Does Satya Nadella follow me?\"\n  → Use get_user_by_query with query: \"satya nadella\"\n  \n  Q: \"How many likes does tweet 1234567890 have?\"\n  → Use get_tweet with tweet_id: \"1234567890\"\n  \n  Q: \"What does my most recent tweet say?\"\n  → First use get_my_user to get your most_recent_tweet_id, then use get_tweet with that ID\n\n  Q: \"DM @Fortnite saying hello world\"\n  → Use dm_user with username: \"Fortnite\" and text: \"hello world\""
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "search-condition",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "tweet_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tweet_action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1eb3b618-5955-4407-a37d-88e6584918af",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "user_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user_action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34f6aa54-74b8-4cf8-b7cf-6ab0fa50d406",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "get_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_user"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        1840
      ],
      "id": "eae72a59-7bde-496c-af8f-165d5ec5304f",
      "name": "Category Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dm_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a6759c4-15d2-4bcf-b92b-7c59566079be"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dm_user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f72aa1d-b038-4f59-a088-9918031e0e9e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mute_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mute_user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fe77b553-29ab-462f-ac2f-b0a21bfdeb28",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unmute_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unmute_user"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        1840
      ],
      "id": "12a17170-c3aa-4044-8881-b065b2b61dec",
      "name": "User Action Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_user_by_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d19de46-a2f8-4781-a878-8524868fdb73"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_user_by_query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7955b8a6-2e28-40dd-8ed6-b4161e022763",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_user_by_username",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_user_by_username"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ce73dd4-13bb-4b6e-9615-5b221f8f8738",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_my_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_my_user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1f2d27e6-14c1-4234-aabe-f8923195f8cb",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_blocked_users",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_blocked_users"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        2688
      ],
      "id": "daa02c39-3723-47ca-b409-304447a29e26",
      "name": "Get User Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.x.com/2/users/{{ $json.self_user_id }}/muting",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_user_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        1840
      ],
      "id": "bb12205e-2f3f-4c6c-9e23-433d5e9b81b7",
      "name": "Mute User",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.x.com/2/users/{{ $json.self_user_id }}/blocking",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        2912
      ],
      "id": "7c7ffd3c-168c-409d-9303-ae0015573b80",
      "name": "Get Blocked Users",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.x.com/2/users/{{ $json.self_user_id }}/muting/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        2128
      ],
      "id": "433051eb-d4e5-4fa5-9ad0-924faf522b2c",
      "name": "Unmute User",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (!$json.data.muting) {\n  return {\n    error: true,\n    message: 'Sorry, I could not mute the user.',\n    muting: $json.data.muting\n  };\n}\n\nreturn {\n  error: false,\n  message: 'Okay, I have muted the user for you.',\n  muting: $json.data.muting,\n  id: $('Validate Input').item.json.id\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1952
      ],
      "id": "edd61756-54c6-4d0b-ad5e-b6ce44e3cf4f",
      "name": "Format Mute Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($json.data.muting) {\n  return {\n    error: true,\n    message: 'Sorry, I could not unmute the user.',\n    muting: $json.data.muting\n  }\n}\n\nreturn {\n  error: false,\n  message: 'Okay, I have unmuted the user for you.',\n  muting: $json.data.muting,\n  id: $('Validate Input').item.json.id\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2144
      ],
      "id": "aca08d8f-7858-4193-865e-b9a927905c33",
      "name": "Format Unmute Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const blocked_users = $input.item.json.data || [];\nconst blocked_total = $input.item.json.meta?.result_count || 0;\n\nif (blocked_total === 0 || blocked_users.length === 0) {\n  return {\n    message: \"You have not blocked any users.\",\n    raw: $input.item.json\n  };\n}\n\nconst names = blocked_users.map(user => user.name).join(', ');\n\nreturn {\n  message: `You have blocked ${blocked_total} users: ${names}`,\n  raw: $input.item.json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2912
      ],
      "id": "f0ecd56e-c7e5-40f5-a73f-dade53e3e25e",
      "name": "Format Blocked Users"
    },
    {
      "parameters": {
        "url": "https://api.x.com/2/users/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "max_results",
              "value": "1"
            },
            {
              "name": "user.fields",
              "value": "id,name,username,description,location,pinned_tweet_id,most_recent_tweet_id,receives_your_dm,connection_status,public_metrics,created_at"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        2336
      ],
      "id": "02604f86-266f-42b9-a0f4-27f84644c319",
      "name": "Get User by Query",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.data;\n\nif (!Array.isArray(data) || data.length === 0) {\n  return {\n    error: true,\n    message: \"Sorry, I couldn't find any users matching that request.\"\n  };\n}\n\nconst response = data[0];\nconst createdAt = new Date(response.created_at);\n\n// Format like: \"2 June 2009\"\nconst createdDate = createdAt.toLocaleDateString('en-GB', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nlet message = `I found a user called ${response.name} with username ${response.username}. The account was created on ${createdDate}.`;\n\n// Can you DM them?\nif (response.receives_your_dm) {\n  message += \" You can DM them.\"\n} else {\n  message += \" You cannot DM them.\"\n}\n\n// Your connection status with the user\nconst connection = response.connection_status || [];\nconst statusMessages = [];\n\n// follow/followed info is always reported\nif (connection.includes(\"followed_by\")) {\n  statusMessages.push(\"This user is following you.\");\n} else {\n  statusMessages.push(\"This user is not following you.\");\n}\n\nif (connection.includes(\"following\")) {\n  statusMessages.push(\"You are following this user.\");\n} else {\n  statusMessages.push(\"You are not following this user.\");\n}\n\n// other statuses only if present\nif (connection.includes(\"follow_request_received\")) statusMessages.push(\"You have received a follow request from this user.\");\nif (connection.includes(\"follow_request_sent\")) statusMessages.push(\"You have sent a follow request to this user.\");\nif (connection.includes(\"blocking\")) statusMessages.push(\"You are blocking this user.\");\nif (connection.includes(\"muting\")) statusMessages.push(\"You have muted this user.\");\n\n// Append to message\nif (statusMessages.length > 0) {\n  message += \" \" + statusMessages.join(\" \");\n}\n\n// Metrics\nconst metrics = response.public_metrics;\n\nfunction formatCount(n) {\n  if (n >= 1_000_000_000) return `${Math.round(n / 1_000_000_000)} billion`;\n  if (n >= 1_000_000) return `${Math.round(n / 1_000_000)} million`;\n  if (n >= 1_000) return `${Math.round(n / 1_000)} thousand`;\n  return `${Math.round(n)}`;\n}\n\nconst followers = formatCount(metrics.followers_count);\nconst following = formatCount(metrics.following_count);\nconst tweets = formatCount(metrics.tweet_count);\n\nmessage += ` They have about ${followers} followers, ${following} following, and have posted roughly ${tweets} tweets.`;\n\nconst pinned_tweet_id = response.pinned_tweet_id || '';\nconst most_recent_tweet_id = response.most_recent_tweet_id || '';\n\n// Prepare voice-friendly additions\nconst pinnedExists = Boolean(pinned_tweet_id);\nconst recentExists = Boolean(most_recent_tweet_id);\n\nif (pinnedExists && recentExists) {\n  message += \" I have retrieved both their pinned tweet and their most recent tweet.\";\n} else if (pinnedExists) {\n  message += \" I have retrieved their pinned tweet.\";\n} else if (recentExists) {\n  message += \" I have retrieved their most recent tweet.\";\n}\n\nreturn {\n  error: false,\n  message,\n  id: response.id,\n  name: response.name,\n  username: response.username,\n  created_date: createdDate,\n  can_receive_your_dm: response.receives_your_dm,\n  bio: response.description,\n  connection,\n  metrics: response.public_metrics,\n  pinned_tweet_id,\n  most_recent_tweet_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2336
      ],
      "id": "bf7f8548-79b5-4c88-81c4-2308155fe378",
      "name": "Format Get User by Query"
    },
    {
      "parameters": {
        "url": "=https://api.x.com/2/users/by/username/{{ $json.username }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user.fields",
              "value": "id,name,username,description,location,pinned_tweet_id,most_recent_tweet_id,receives_your_dm,connection_status,public_metrics,created_at"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        2528
      ],
      "id": "57d16144-bd82-45bc-a053-fdb84f4044c4",
      "name": "Get User by Username",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check for errors first\nconst errors = $input.item.json.errors || [];\n\nif (errors.length > 0) {\n  const err = errors[0];\n  const username = err.value || \"unknown\";\n  const detail = err.detail || \"An error occurred.\";\n\n  return {\n    error: true,\n    message: `I couldn't find a user with the username ${username}.`,\n    detail\n  };\n}\n\nconst response = $input.item.json.data;\nconst createdAt = new Date(response.created_at);\n\n// Format like: \"2 June 2009\"\nconst createdDate = createdAt.toLocaleDateString('en-GB', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nlet message = `${response.username}'s display name is ${response.name}'. The account was created on ${createdDate}.`;\n\n// Can you DM them?\nif (response.receives_your_dm) {\n  message += \" You can DM them.\"\n} else {\n  message += \" You cannot DM them.\"\n}\n\n// Your connection status with the user\nconst connection = response.connection_status || [];\nconst statusMessages = [];\n\n// follow/followed info is always reported\nif (connection.includes(\"followed_by\")) {\n  statusMessages.push(\"This user is following you.\");\n} else {\n  statusMessages.push(\"This user is not following you.\");\n}\n\nif (connection.includes(\"following\")) {\n  statusMessages.push(\"You are following this user.\");\n} else {\n  statusMessages.push(\"You are not following this user.\");\n}\n\n// other statuses only if present\nif (connection.includes(\"follow_request_received\")) statusMessages.push(\"You have received a follow request from this user.\");\nif (connection.includes(\"follow_request_sent\")) statusMessages.push(\"You have sent a follow request to this user.\");\nif (connection.includes(\"blocking\")) statusMessages.push(\"You are blocking this user.\");\nif (connection.includes(\"muting\")) statusMessages.push(\"You have muted this user.\");\n\n// Append to message\nif (statusMessages.length > 0) {\n  message += \" \" + statusMessages.join(\" \");\n}\n\n// Metrics\nconst metrics = response.public_metrics;\n\nfunction formatCount(n) {\n  if (n >= 1_000_000_000) return `${Math.round(n / 1_000_000_000)} billion`;\n  if (n >= 1_000_000) return `${Math.round(n / 1_000_000)} million`;\n  if (n >= 1_000) return `${Math.round(n / 1_000)} thousand`;\n  return `${Math.round(n)}`;\n}\n\nconst followers = formatCount(metrics.followers_count);\nconst following = formatCount(metrics.following_count);\nconst tweets = formatCount(metrics.tweet_count);\n\nmessage += ` They have about ${followers} followers, ${following} following, and have posted roughly ${tweets} tweets.`;\n\nconst pinned_tweet_id = response.pinned_tweet_id || '';\nconst most_recent_tweet_id = response.most_recent_tweet_id || '';\n\n// Prepare voice-friendly additions\nconst pinnedExists = Boolean(pinned_tweet_id);\nconst recentExists = Boolean(most_recent_tweet_id);\n\nif (pinnedExists && recentExists) {\n  message += \" I have retrieved both their pinned tweet and their most recent tweet.\";\n} else if (pinnedExists) {\n  message += \" I have retrieved their pinned tweet.\";\n} else if (recentExists) {\n  message += \" I have retrieved their most recent tweet.\";\n}\n\nreturn {\n  error: false,\n  message,\n  id: response.id,\n  name: response.name,\n  username: response.username,\n  created_date: createdDate,\n  can_receive_your_dm: response.receives_your_dm,\n  bio: response.description,\n  connection,\n  metrics: response.public_metrics,\n  pinned_tweet_id,\n  most_recent_tweet_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2528
      ],
      "id": "64d3b87e-b9f3-497b-9a41-48d58da61ef2",
      "name": "Format Get User by Username"
    },
    {
      "parameters": {
        "url": "=https://api.x.com/2/users/me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user.fields",
              "value": "id,name,username,description,location,pinned_tweet_id,most_recent_tweet_id,public_metrics,created_at"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        2720
      ],
      "id": "fc435a06-5d38-47bc-9158-8ce94148c89b",
      "name": "Get my User",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json.data;\nconst createdAt = new Date(response.created_at);\n\n// Format like: \"2 June 2009\"\nconst createdDate = createdAt.toLocaleDateString('en-GB', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nlet message = `Your account was created on ${createdDate}.`;\n\n// Metrics\nconst metrics = response.public_metrics;\n\nfunction formatCount(n) {\n  if (n >= 1_000_000_000) return `${Math.round(n / 1_000_000_000)} billion`;\n  if (n >= 1_000_000) return `${Math.round(n / 1_000_000)} million`;\n  if (n >= 1_000) return `${Math.round(n / 1_000)} thousand`;\n  return `${Math.round(n)}`;\n}\n\nconst followers = formatCount(metrics.followers_count);\nconst following = formatCount(metrics.following_count);\nconst tweets = formatCount(metrics.tweet_count);\n\nmessage += ` You have about ${followers} followers, ${following} following, and have posted roughly ${tweets} tweets.`;\n\nconst pinned_tweet_id = response.pinned_tweet_id || '';\nconst most_recent_tweet_id = response.most_recent_tweet_id || '';\n\n// Prepare voice-friendly additions\nconst pinnedExists = Boolean(pinned_tweet_id);\nconst recentExists = Boolean(most_recent_tweet_id);\n\nif (pinnedExists && recentExists) {\n  message += \" I have retrieved both their pinned tweet and their most recent tweet.\";\n} else if (pinnedExists) {\n  message += \" I have retrieved their pinned tweet.\";\n} else if (recentExists) {\n  message += \" I have retrieved their most recent tweet.\";\n}\n\nreturn {\n  error: false,\n  message,\n  id: response.id,\n  name: response.name,\n  username: response.username,\n  created_date: createdDate,\n  bio: response.description,\n  metrics: response.public_metrics,\n  pinned_tweet_id,\n  most_recent_tweet_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2720
      ],
      "id": "30a9699d-d921-4479-98cf-4d4e6ec37fe9",
      "name": "Format Get my User"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const params = $('Validate Input').item.json;\nlet message = $json.error?.message || JSON.stringify($json.error) || '';\n\nlet errorMessage;\nif (message.includes(\"Cannot read properties of undefined\") || message.includes(\"reading 'id'\")) {\n  errorMessage = `Sorry, I couldn't send a direct message to ${params.username}. The account might be suspended.`;\n} else if (message.toLowerCase().includes('forbidden')) {\n  errorMessage = `Sorry, I couldn't send the direct message. They may not accept messages from you.`;\n} else if (message.toLowerCase().includes('payment')) {\n  errorMessage = `You are out of credits. Add more credits to use the X API.`;\n} else if (message.includes('Bad request')) {\n  errorMessage = `I couldn't fulfil that request. Please double check the parameters.`;\n}\n\nreturn {\n  error: true,\n  message: errorMessage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1760
      ],
      "id": "eab62695-78f1-454b-9f18-5eebef27d245",
      "name": "Handle User Interact Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const params = $('Validate Input').item.json;\nlet message = $json.error?.message || JSON.stringify($json.error) || '';\n\nlet errorMessage;\nif (message.toLowerCase().includes('payment')) {\n  errorMessage = `You are out of credits. Add more credits to use the X API.`;\n} else if (message.toLowerCase().includes('bad request')) {\n  errorMessage = `I couldn't fulfil that request. Please double check the parameters.`;\n} else if (message.toLowerCase().includes('forbidden')) {\n  errorMessage = `I don't have permissions to interact with that tweet.`;\n}\n\nreturn {\n  error: true,\n  message: errorMessage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        560
      ],
      "id": "326d571e-5e10-4d24-bd99-b07304519871",
      "name": "Handle Tweet Interact Error"
    },
    {
      "parameters": {
        "operation": "like",
        "tweetId": {
          "__rl": true,
          "value": "={{ $json.tweet_id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        784,
        544
      ],
      "id": "2ca3efec-b33f-4a1b-be17-0d46e739008f",
      "name": "Like Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": null,
          "name": "${TWITTEROAUTH2API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "retweet",
        "tweetId": {
          "__rl": true,
          "value": "={{ $json.tweet_id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        784,
        1120
      ],
      "id": "2c365e08-4d7c-44e7-8460-60c256948e88",
      "name": "Retweet Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": null,
          "name": "${TWITTEROAUTH2API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tweetDeleteId": {
          "__rl": true,
          "value": "={{ $json.tweet_id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        784,
        352
      ],
      "id": "140059f0-b06d-4ec9-a6af-b90197e4d1ce",
      "name": "Delete Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": null,
          "name": "${TWITTEROAUTH2API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract action and response\nconst action = $('Validate Input').item.json.action\n\nconst response = (action === 'unlike_tweet' || action === 'unretweet_tweet') \n  ? $input.item.json.data \n  : $input.item.json;\n\n\n// Helper to create a voice-friendly message\nlet message = '';\nlet error;\n\nswitch(action) {\n  case 'like_tweet':\n    error = !response.liked;\n    message = response.liked\n      ? \"I have liked the tweet.\"\n      : \"I could not like that tweet.\";\n    break;\n\n  case 'unlike_tweet':\n    error = response.liked;\n    message = !response.liked\n      ? \"I have unliked the tweet.\"\n      : \"The tweet is still liked.\";\n    break;\n\n  case 'retweet_tweet':\n    error = !response.retweeted;\n    message = response.retweeted\n      ? \"I have retweeted the tweet.\"\n      : \"I could not retweet that tweet.\";\n    break;\n\n  case 'unretweet_tweet':\n    error = response.retweeted;\n    message = !response.retweeted\n      ? \"I have removed your retweet.\"\n      : \"The retweet is still active.\";\n    break;\n\n  case 'delete_tweet':\n    error = !response.deleted;\n    message = response.deleted\n      ? \"I have deleted the tweet.\"\n      : \"I could not delete that tweet.\";\n    break;\n\n  case 'hide_tweet_replies':\n    error = !response.hidden;\n    message = response.hidden\n      ? \"Replies to this tweet have been hidden.\"\n      : \"Unable to hide replies.\";\n    break;\n\n  case 'unhide_tweet_replies':\n    error = response.hidden;\n    message = !response.hidden\n      ? \"Replies to this tweet are now visible.\"\n      : \"Replies are still hidden.\";\n    break;\n\n  default:\n    error = false;\n    message = \"Action completed successfully.\";\n}\n\n// Return the voice-friendly message\nreturn {\n  error,\n  message,\n  tweet_ID: $('Validate Input').item.json.tweet_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        832
      ],
      "id": "a0e1b16c-dee1-442a-a392-7eb8510b1627",
      "name": "Handle Tweet Interact Success"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.x.com/2/users/{{ $json.self_user_id }}/likes/{{ $json.tweet_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        736
      ],
      "id": "7f72a75d-72fb-4891-b0ca-b600ea14abed",
      "name": "Unlike Tweet",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.x.com/2/users/{{ $json.self_user_id }}/retweets/{{ $json.tweet_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        928
      ],
      "id": "57d7aa0d-ae18-4c5a-964f-024a5a069dfd",
      "name": "Unretweet Tweet",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f97b07d-594e-46bc-997e-582b1485c630",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "post_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6bb01861-f72e-4363-8347-530e956ae454"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "post_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bdb9234b-cfd0-4cde-a61d-bc1fee274b4f",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "81b88a85-2c69-420b-9564-5c9d0599114d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "like_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "like_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e0f35b7-2456-45db-a312-65a5888a354d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unlike_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unlike_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0c552620-6781-42c2-a29a-e152bbe8e1a9",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "retweet_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retweet_tweet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c363ae01-81d4-4918-bfb2-0f35304800a4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unretweet_tweet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unretweet_tweet"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        528
      ],
      "id": "6c9ff51a-7e80-4470-b03f-8231a44a550d",
      "name": "Tweet Action Switch"
    },
    {
      "parameters": {
        "content": "## ADD SELF_USER_ID\nOpen Validate Input and add your unique X user ID. You can use the `get_my_user` action or find it using a [third-party web service](https://get-id-x.foundtt.com/en/).",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        2288
      ],
      "id": "ed4346e7-d833-420c-9a20-d87b7fa224d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://api.x.com/2/tweets/{{ $json.tweet_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tweet.fields",
              "value": "created_at,id,public_metrics,text"
            },
            {
              "name": "expansions",
              "value": "author_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        128
      ],
      "id": "f6897149-9456-4579-8b6c-8df3978c0bc8",
      "name": "Get Tweet",
      "credentials": {
        "twitterOAuth1Api": {
          "id": null,
          "name": "${TWITTEROAUTH1API_CREDENTIAL}"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check for errors first\nconst errors = $input.item.json.errors || [];\n\nif (errors.length > 0) {\n  const err = errors[0];\n  const detail = err.detail || \"An error occurred.\";\n\n  return {\n    error: true,\n    message: `I couldn't find a tweet with the that ID.`,\n    detail\n  };\n}\n\nconst response = $input.item.json.data;\nconst createdAt = new Date(response.created_at);\n\n// Format like: \"2 June 2009\"\nconst createdDate = createdAt.toLocaleDateString('en-GB', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst metrics = response.public_metrics;\n\nfunction formatCount(n) {\n  if (n >= 1_000_000_000) return `${Math.round(n / 1_000_000_000)} billion`;\n  if (n >= 1_000_000) return `${Math.round(n / 1_000_000)} million`;\n  if (n >= 1_000) return `${Math.round(n / 1_000)} thousand`;\n  return `${Math.round(n)}`;\n}\n\nconst views = formatCount(metrics.impression_count);\nconst likes = formatCount(metrics.like_count);\nconst retweets = formatCount(metrics.retweet_count);\nconst replies = formatCount(metrics.reply_count);\nconst quotes = formatCount(metrics.quote_count);\nconst bookmarks = formatCount(metrics.bookmark_count);\n\nconst message = `This tweet says: ${response.text}. It was posted on ${createdDate}. It has ${views} views, ${likes} likes, ${retweets} retweets, ${quotes} quote tweets, ${replies} replies, and ${bookmarks} bookmarks.`;\n\nconst author = $json?.includes?.users?.[0] ?? { username: \"unknown\", name: \"unknown\", id: null };\n\nreturn {\n  error: false,\n  message,\n  author,\n  tweet_id: response.id,\n  created_date: createdDate,\n  metrics\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ],
      "id": "76eccba6-11c0-4ac7-b2cd-f36f9402c189",
      "name": "Format Get Tweet"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** x-twitter\n**Description:** X (Twitter) automation: post tweets, like/retweet/delete, send DMs, lookup users with connection status and full metrics, mute users, and view blocked accounts.\n**version:** v1.0.0\n**id:** wn9K89sz3bAItFVWpvzkhQ\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/social/x-twitter)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1de11ee4-0ab8-4b07-bf90-04439baa941a",
      "name": "Registry Tracking"
    }
  ],
  "connections": {
    "Format DM Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tweet Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM": {
      "main": [
        [
          {
            "node": "Format DM Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle User Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Format Tweet Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Errors": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Category Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Switch": {
      "main": [
        [
          {
            "node": "Tweet Action Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Action Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Action Switch": {
      "main": [
        [
          {
            "node": "Send DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mute User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unmute User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Switch": {
      "main": [
        [
          {
            "node": "Get User by Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User by Username",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get my User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Blocked Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mute User": {
      "main": [
        [
          {
            "node": "Format Mute Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle User Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unmute User": {
      "main": [
        [
          {
            "node": "Format Unmute Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle User Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Mute Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unmute Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Blocked Users": {
      "main": [
        [
          {
            "node": "Format Blocked Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Blocked Users": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User by Query": {
      "main": [
        [
          {
            "node": "Format Get User by Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get User by Query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User by Username": {
      "main": [
        [
          {
            "node": "Format Get User by Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get User by Username": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get my User": {
      "main": [
        [
          {
            "node": "Format Get my User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get my User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle User Interact Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Tweet Interact Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Tweet": {
      "main": [
        [
          {
            "node": "Handle Tweet Interact Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Like Tweet": {
      "main": [
        [
          {
            "node": "Handle Tweet Interact Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retweet Tweet": {
      "main": [
        [
          {
            "node": "Handle Tweet Interact Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Tweet Interact Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unlike Tweet": {
      "main": [
        [
          {
            "node": "Handle Tweet Interact Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unretweet Tweet": {
      "main": [
        [
          {
            "node": "Handle Tweet Interact Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet Action Switch": {
      "main": [
        [
          {
            "node": "Get Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Like Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unlike Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retweet Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unretweet Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tweet": {
      "main": [
        [
          {
            "node": "Format Get Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tweet Interact Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get Tweet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
