tools/homelab/truenas/workflow.json
{
  "name": "truenas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "truenas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "name": "Webhook",
      "webhookId": "truenas",
      "notes": "TrueNAS server suite - status and app control. Parameters: action (required) - 'status' or 'control'; app (required for control) - app name; command (required for control) - 'start', 'stop', or 'restart'. Examples: 'what's my TrueNAS status', 'restart Plex on TrueNAS', 'stop the Jellyfin app'.",
      "id": "54ba637a-8312-470f-acab-bbc07d482cde"
    },
    {
      "parameters": {
        "jsCode": "// Parse input parameters\nlet data;\nif (typeof items[0].json.body === 'string') data = JSON.parse(items[0].json.body);\nelse if (typeof items[0].json.body === 'object') data = items[0].json.body;\nelse data = items[0].json;\n\nconst action = (data.action || 'status').toLowerCase();\nconst app = data.app || data.app_name || data.appName || data.name || '';\nconst command = (data.command || data.cmd || 'start').toLowerCase();\n\nreturn [{ json: { action, app, command } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "name": "Parse Parameters",
      "id": "712f03c6-78b2-405a-ba31-b7f8a25f9544"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "control",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "control"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        400
      ],
      "name": "Switch Action",
      "id": "28fc39ce-bd44-4e7f-8917-f5e3f9b86041"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/system/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ],
      "name": "Get System Info",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "1b99777b-eb90-4d97-ac4a-95802fea7bc1"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/pool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "name": "Get Pools",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "7779ba43-6e00-4104-a7cd-35902cb64a90"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/app",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        500
      ],
      "name": "Get Apps",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "30442a84-b7b4-448a-b4d1-30007df082fe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "${TRUENAS_URL}/api/v2.0/reporting/netdata_get_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"graphs\": [{\"name\": \"memory\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        700
      ],
      "name": "Get Memory",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "2d04c8bb-0efa-43f6-b8a7-ec1acdda010d"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        960,
        300
      ],
      "name": "Merge Status Data",
      "id": "a81ae466-c299-4b81-8dc2-4d5adc6bc0d6"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet systemInfo = null;\nlet pools = [];\nlet apps = [];\nlet loadAvg = 0;\nlet memTotalGb = 0;\nlet memUsedGb = 0;\nlet cores = 1;\n\nitems.forEach(item => {\n  const json = item.json;\n  \n  // Detect system info (has hostname, version, uptime_seconds)\n  if (json.hostname && json.uptime_seconds !== undefined) {\n    systemInfo = json;\n    if (json.physmem) {\n      memTotalGb = json.physmem / 1024 / 1024 / 1024;\n    }\n    if (json.loadavg && json.loadavg[0] !== undefined) {\n      loadAvg = json.loadavg[0];\n    }\n    if (json.cores) {\n      cores = json.cores;\n    }\n  }\n  \n  // Detect pool item (has topology, status - from pool API)\n  if (json.topology && json.status) {\n    pools.push(json);\n  }\n  \n  // Detect app item (has state and name - from app API)\n  if (json.state !== undefined && json.name && json.active_workloads !== undefined) {\n    apps.push(json);\n  }\n  \n  // Detect memory data from netdata - can come as array or direct object\n  const memData = Array.isArray(json) ? json[0] : json;\n  if (memData?.name === 'memory' && memData?.aggregations?.mean?.available) {\n    const availableBytes = memData.aggregations.mean.available;\n    const availableGb = availableBytes / 1024 / 1024 / 1024;\n    // Calculate used = total - available\n    if (memTotalGb > 0) {\n      memUsedGb = memTotalGb - availableGb;\n    }\n  }\n});\n\n// Calculate CPU usage from load average (rough approximation)\nconst cpuPercent = Math.min(100, Math.round((loadAvg / cores) * 100));\n\n// Build voice response\nlet message = '';\n\nif (systemInfo) {\n  const uptimeDays = Math.floor(systemInfo.uptime_seconds / 86400);\n  message += `Your TrueNAS machine ${systemInfo.hostname} is running. `;\n  if (uptimeDays > 0) {\n    message += `Uptime is ${uptimeDays} days. `;\n  }\n}\n\nmessage += `CPU at ${cpuPercent} percent. `;\nif (memUsedGb > 0) {\n  message += `${Math.round(memUsedGb)} of ${Math.round(memTotalGb)} gigs of RAM used. `;\n} else {\n  message += `${Math.round(memTotalGb)} gigs of RAM total. `;\n}\n\n// Pool status\nif (pools.length > 0) {\n  const allHealthy = pools.every(p => p.status === 'ONLINE' && p.healthy === true);\n  if (allHealthy) {\n    message += `Storage pools are healthy. `;\n  } else {\n    const poolStatuses = pools.map(p => `${p.name} is ${p.status.toLowerCase()}`).join(', ');\n    message += `Pool status: ${poolStatuses}. `;\n  }\n}\n\n// App count\nif (apps.length > 0) {\n  const runningApps = apps.filter(a => a.state === 'RUNNING' || a.state === 'ACTIVE');\n  message += `${runningApps.length} apps running.`;\n} else {\n  message += 'No apps detected.';\n}\n\nreturn {\n  message: message.trim(),\n  system: systemInfo ? {\n    hostname: systemInfo.hostname,\n    version: systemInfo.version,\n    uptime_seconds: systemInfo.uptime_seconds,\n    cores: systemInfo.cores,\n    loadavg: systemInfo.loadavg\n  } : null,\n  pools: pools.map(p => ({\n    name: p.name,\n    status: p.status,\n    healthy: p.healthy\n  })),\n  apps: apps.map(a => ({\n    name: a.name || a.id,\n    state: a.state\n  })),\n  resources: {\n    cpuPercent,\n    loadAvg,\n    memUsedGb: Math.round(memUsedGb),\n    memTotalGb: Math.round(memTotalGb)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ],
      "name": "Format Status",
      "id": "443e316f-fe0d-46d7-b94c-ab02e554a70b"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Parameters').item.json;\nconst appName = data.app;\nconst command = data.command;\n\n// Validate app name\nif (!appName) {\n  return { error: true, message: 'Please specify which app to control.' };\n}\n\n// Map command to API endpoint\nlet endpoint;\nswitch (command) {\n  case 'start':\n    endpoint = 'start';\n    break;\n  case 'stop':\n    endpoint = 'stop';\n    break;\n  case 'restart':\n  case 'redeploy':\n    endpoint = 'redeploy';\n    break;\n  default:\n    return { error: true, message: `Unknown command ${command}. Use start, stop, or restart.` };\n}\n\nreturn {\n  appName: appName,\n  command: command,\n  endpoint: endpoint\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1000
      ],
      "name": "Validate Control Input",
      "id": "ab57adc1-6332-4d8b-a753-a84c66d77af0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        1000
      ],
      "name": "Control Has Error?",
      "id": "6bd1e5de-488e-483c-badd-7e4971291d51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=${TRUENAS_URL}/api/v2.0/app/{{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.appName) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        1100
      ],
      "name": "Control App",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "186c272e-4965-41d2-860e-a9fd6cba62d4"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst appName = $('Validate Control Input').item.json.appName;\nconst command = $('Validate Control Input').item.json.command;\n\n// Check if we got a job ID (success) or error\nif (typeof data === 'number' || (typeof data === 'string' && !isNaN(data))) {\n  const commandVerb = command === 'stop' ? 'stopping' : (command === 'restart' ? 'restarting' : 'starting');\n  \n  return {\n    message: `${appName} is ${commandVerb}. I'll let you know if there's a problem.`,\n    app: appName,\n    command: command,\n    jobId: data,\n    success: true\n  };\n} else if (data.error || data.message || (typeof data === 'string' && data.includes('Error'))) {\n  const errorMsg = data.message || data.error || data || 'Unknown error';\n  \n  return {\n    message: `Failed to ${command} ${appName}. ${errorMsg}`,\n    app: appName,\n    command: command,\n    jobId: null,\n    success: false\n  };\n} else {\n  return {\n    message: `Sent ${command} command to ${appName}.`,\n    app: appName,\n    command: command,\n    jobId: null,\n    success: true\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1100
      ],
      "name": "Format Control",
      "id": "ae65564e-9465-4ade-a864-503e80879dd5"
    },
    {
      "parameters": {
        "jsCode": "// Format error for voice\nconst errorData = items[0].json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\n\nif (errorMsg.includes('401') || errorMsg.includes('Unauthorized')) {\n  errorMsg = 'TrueNAS authentication failed. Check the API key in n8n.';\n} else if (errorMsg.includes('ECONNREFUSED') || errorMsg.includes('ETIMEDOUT')) {\n  errorMsg = 'Cannot connect to TrueNAS. Is it running?';\n} else if (errorMsg.includes('Credential')) {\n  errorMsg = 'TrueNAS credentials not found in n8n.';\n}\n\nreturn { message: `Error: ${errorMsg}`, error: true };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        600
      ],
      "name": "Format Error",
      "id": "ef2cc455-37a3-4ada-9494-4986f0fe0e56"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        500
      ],
      "name": "Respond to Webhook",
      "id": "eb60fdf4-b14b-45d9-ab35-4af6fd5f6340"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-job",
              "leftValue": "={{ $json.jobId }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        1100
      ],
      "name": "Has Job ID?",
      "id": "da6222e6-9b23-467b-9e6a-68332f87b962"
    },
    {
      "parameters": {
        "jsCode": "// Initialize polling state\nconst prevData = $input.item.json;\nreturn {\n  ...prevData,\n  pollCount: 0,\n  maxPolls: 10\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1000
      ],
      "name": "Init Poll State",
      "id": "ff79d012-e86e-462d-9c8d-8a3bef7b286c"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2460,
        1000
      ],
      "name": "Wait 20s",
      "id": "d6151643-97a5-4d54-b21c-de03e6020a51"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/core/get_jobs?id={{ $json.jobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        1000
      ],
      "name": "Check Job Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "b6ab7b23-6f2d-4bdf-ae81-e87eb4f3667a"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/app?name={{ $('Format Control').item.json.app }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        1000
      ],
      "name": "Check App Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "753fc941-d476-4eae-bce9-bca2af9c8b67"
    },
    {
      "parameters": {
        "jsCode": "const jobData = $('Check Job Status').item.json;\nconst appData = $input.item.json;\nconst appName = $('Format Control').item.json.app;\nconst command = $('Format Control').item.json.command;\nconst pollCount = $('Init Poll State').item.json.pollCount;\nconst maxPolls = $('Init Poll State').item.json.maxPolls;\n\nconst job = Array.isArray(jobData) ? jobData[0] : jobData;\nconst app = Array.isArray(appData) ? appData[0] : appData;\n\nconst jobState = job?.state || 'UNKNOWN';\nconst jobError = job?.error || null;\nconst appState = app?.state || 'UNKNOWN';\n\n// Expected final state\nconst expectedState = command === 'stop' ? 'STOPPED' : 'RUNNING';\n\n// Determine outcome\nlet outcome = 'unknown';\nlet announceMessage = '';\n\nif (jobState === 'FAILED') {\n  outcome = 'failed';\n  let errorClean = jobError || 'Unknown error';\n  if (errorClean.includes('\\n')) {\n    errorClean = errorClean.split('\\n')[0];\n  }\n  errorClean = errorClean.replace(/\\[\\w+\\]\\s*/g, '');\n  announceMessage = `There was a problem with ${appName}. ${errorClean}`;\n} else if (appState === expectedState) {\n  outcome = 'success';\n} else if (appState === 'DEPLOYING' || appState === 'STOPPING' || jobState === 'RUNNING') {\n  outcome = 'still_pending';\n} else {\n  // Job succeeded but app is in unexpected state\n  outcome = 'unexpected';\n  announceMessage = `${appName} finished but is ${appState.toLowerCase()} instead of ${expectedState.toLowerCase()}.`;\n}\n\nreturn {\n  outcome,\n  announceMessage,\n  jobState,\n  appState,\n  appName,\n  command,\n  pollCount,\n  maxPolls,\n  jobId: $('Format Control').item.json.jobId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        1000
      ],
      "name": "Evaluate Result",
      "id": "27e4ebe4-c826-4028-8598-577430cc3bdc"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "still_pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "unexpected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unexpected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3340,
        1000
      ],
      "name": "Route Outcome",
      "id": "8bb9c6d2-9a28-43f6-98ee-a7702a6121a3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "max-polls",
              "leftValue": "={{ $json.pollCount }}",
              "rightValue": "={{ $json.maxPolls }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3560,
        900
      ],
      "name": "More Retries?",
      "id": "0f73cfdb-4d9c-43bd-b9e6-8a990dd504f7"
    },
    {
      "parameters": {
        "jsCode": "// Increment poll count and pass through data for next iteration\nconst data = $input.item.json;\nreturn {\n  ...data,\n  pollCount: data.pollCount + 1\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3780,
        800
      ],
      "name": "Increment Poll",
      "id": "d4bde767-c62c-4854-b675-6d9ff21096aa"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        800
      ],
      "name": "Wait 10s",
      "id": "92d98a6d-6b64-4ef0-a64d-b2b56f563a8c"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/core/get_jobs?id={{ $json.jobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        800
      ],
      "name": "Poll Job Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "119cd665-c027-4b96-87c4-2946646bde88"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/app?name={{ $('Format Control').item.json.app }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        800
      ],
      "name": "Poll App Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "56a084aa-2639-4b2b-925e-9102eda1a8fb"
    },
    {
      "parameters": {
        "jsCode": "const jobData = $('Poll Job Status').item.json;\nconst appData = $input.item.json;\nconst appName = $('Format Control').item.json.app;\nconst command = $('Format Control').item.json.command;\nconst pollCount = $('Increment Poll').item.json.pollCount;\nconst maxPolls = $('Increment Poll').item.json.maxPolls;\n\nconst job = Array.isArray(jobData) ? jobData[0] : jobData;\nconst app = Array.isArray(appData) ? appData[0] : appData;\n\nconst jobState = job?.state || 'UNKNOWN';\nconst jobError = job?.error || null;\nconst appState = app?.state || 'UNKNOWN';\n\nconst expectedState = command === 'stop' ? 'STOPPED' : 'RUNNING';\n\nlet outcome = 'unknown';\nlet announceMessage = '';\n\nif (jobState === 'FAILED') {\n  outcome = 'failed';\n  let errorClean = jobError || 'Unknown error';\n  if (errorClean.includes('\\n')) {\n    errorClean = errorClean.split('\\n')[0];\n  }\n  errorClean = errorClean.replace(/\\[\\w+\\]\\s*/g, '');\n  announceMessage = `There was a problem with ${appName}. ${errorClean}`;\n} else if (appState === expectedState) {\n  outcome = 'success';\n} else if (appState === 'DEPLOYING' || appState === 'STOPPING' || jobState === 'RUNNING') {\n  outcome = 'still_pending';\n} else {\n  outcome = 'unexpected';\n  announceMessage = `${appName} finished but is ${appState.toLowerCase()} instead of ${expectedState.toLowerCase()}.`;\n}\n\nreturn {\n  outcome,\n  announceMessage,\n  jobState,\n  appState,\n  appName,\n  command,\n  pollCount,\n  maxPolls,\n  jobId: $('Format Control').item.json.jobId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4660,
        800
      ],
      "name": "Poll Evaluate",
      "id": "35ab588d-41b9-49c9-802d-6b07534113ee"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "still_pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "unexpected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unexpected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4880,
        800
      ],
      "name": "Poll Route",
      "id": "acae1a02-e2dd-4f59-be26-c3d06a2866c5"
    },
    {
      "parameters": {
        "jsCode": "// Max retries exhausted - still deploying\nconst data = $input.item.json;\nreturn {\n  ...data,\n  announceMessage: `${data.appName} is still deploying after 2 minutes. You may want to check it out.`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3780,
        1000
      ],
      "name": "Timeout Message",
      "id": "f6bac88a-39a6-4cf7-a6d6-062d303e4858"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "${CAAL_ANNOUNCE_URL}/announce",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.announceMessage }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        1100
      ],
      "name": "CAAL Announce",
      "id": "970f7de1-5930-4bef-921d-c64dc62bed93"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** truenas\n**Description:** Manage TrueNAS system - check status including CPU, memory, storage pools, and apps, or control app start/stop/restart operations.\n**version:** v1.0.0\n**id:** BFOmfeNJZQNdGfbXYN27jg\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/homelab/truenas)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -288
      ],
      "typeVersion": 1,
      "id": "dbab3889-2a1d-4b31-b91e-4d391e99c40e",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get System Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pools",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Apps",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Control Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Info": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pools": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Apps": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Memory": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Control Input": {
      "main": [
        [
          {
            "node": "Control Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Has Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Control App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control App": {
      "main": [
        [
          {
            "node": "Format Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Control": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Has Job ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Job ID?": {
      "main": [
        [
          {
            "node": "Init Poll State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Init Poll State": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Check App Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check App Status": {
      "main": [
        [
          {
            "node": "Evaluate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Result": {
      "main": [
        [
          {
            "node": "Route Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Outcome": {
      "main": [
        [],
        [
          {
            "node": "More Retries?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Retries?": {
      "main": [
        [
          {
            "node": "Increment Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Poll": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Poll App Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll App Status": {
      "main": [
        [
          {
            "node": "Poll Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Evaluate": {
      "main": [
        [
          {
            "node": "Poll Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Route": {
      "main": [
        [],
        [
          {
            "node": "More Retries?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Message": {
      "main": [
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}