tools/homelab/truenas-get-status/workflow.json
{
  "name": "truenas_get_status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "truenas_get_status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "truenas_get_status",
      "notes": "Get TrueNAS system status including CPU, memory, storage pools, and running apps. No parameters required."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/system/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-system-info",
      "name": "Get System Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/pool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pools",
      "name": "Get Pools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "${TRUENAS_URL}/api/v2.0/app",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-apps",
      "name": "Get Apps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "${TRUENAS_URL}/api/v2.0/reporting/netdata_get_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"graphs\": [{\"name\": \"memory\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-memory",
      "name": "Get Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4,
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet systemInfo = null;\nlet pools = [];\nlet apps = [];\nlet loadAvg = 0;\nlet memTotalGb = 0;\nlet memUsedGb = 0;\nlet cores = 1;\n\nitems.forEach(item => {\n  const json = item.json;\n  \n  // Detect system info (has hostname, version, uptime_seconds)\n  if (json.hostname && json.uptime_seconds !== undefined) {\n    systemInfo = json;\n    if (json.physmem) {\n      memTotalGb = json.physmem / 1024 / 1024 / 1024;\n    }\n    if (json.loadavg && json.loadavg[0] !== undefined) {\n      loadAvg = json.loadavg[0];\n    }\n    if (json.cores) {\n      cores = json.cores;\n    }\n  }\n  \n  // Detect pool item (has topology, status - from pool API)\n  if (json.topology && json.status) {\n    pools.push(json);\n  }\n  \n  // Detect app item (has state and name - from app API)\n  if (json.state !== undefined && json.name && json.active_workloads !== undefined) {\n    apps.push(json);\n  }\n  \n  // Detect memory data from netdata - can come as array or direct object\n  const memData = Array.isArray(json) ? json[0] : json;\n  if (memData?.name === 'memory' && memData?.aggregations?.mean?.available) {\n    const availableBytes = memData.aggregations.mean.available;\n    const availableGb = availableBytes / 1024 / 1024 / 1024;\n    // Calculate used = total - available\n    if (memTotalGb > 0) {\n      memUsedGb = memTotalGb - availableGb;\n    }\n  }\n});\n\n// Calculate CPU usage from load average (rough approximation)\nconst cpuPercent = Math.min(100, Math.round((loadAvg / cores) * 100));\n\n// Build voice response\nlet message = '';\n\nif (systemInfo) {\n  const uptimeDays = Math.floor(systemInfo.uptime_seconds / 86400);\n  message += `Your TrueNAS machine ${systemInfo.hostname} is running. `;\n  if (uptimeDays > 0) {\n    message += `Uptime is ${uptimeDays} days. `;\n  }\n}\n\nmessage += `CPU at ${cpuPercent} percent. `;\nif (memUsedGb > 0) {\n  message += `${Math.round(memUsedGb)} of ${Math.round(memTotalGb)} gigs of RAM used. `;\n} else {\n  message += `${Math.round(memTotalGb)} gigs of RAM total. `;\n}\n\n// Pool status\nif (pools.length > 0) {\n  const allHealthy = pools.every(p => p.status === 'ONLINE' && p.healthy === true);\n  if (allHealthy) {\n    message += `Storage pools are healthy. `;\n  } else {\n    const poolStatuses = pools.map(p => `${p.name} is ${p.status.toLowerCase()}`).join(', ');\n    message += `Pool status: ${poolStatuses}. `;\n  }\n}\n\n// App count\nif (apps.length > 0) {\n  const runningApps = apps.filter(a => a.state === 'RUNNING' || a.state === 'ACTIVE');\n  message += `${runningApps.length} apps running.`;\n} else {\n  message += 'No apps detected.';\n}\n\nreturn {\n  message: message.trim(),\n  system: systemInfo ? {\n    hostname: systemInfo.hostname,\n    version: systemInfo.version,\n    uptime_seconds: systemInfo.uptime_seconds,\n    cores: systemInfo.cores,\n    loadavg: systemInfo.loadavg\n  } : null,\n  pools: pools.map(p => ({\n    name: p.name,\n    status: p.status,\n    healthy: p.healthy\n  })),\n  apps: apps.map(a => ({\n    name: a.name || a.id,\n    state: a.state\n  })),\n  resources: {\n    cpuPercent,\n    loadAvg,\n    memUsedGb: Math.round(memUsedGb),\n    memTotalGb: Math.round(memTotalGb)\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get System Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pools",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Apps",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Info": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pools": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Apps": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Memory": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner",
    "caal_registry_id": "k5GzHnfCQzMoajwKyg4iWA",
    "caal_registry_version": "1.0.0"
  }
}