tools/homelab/truenas-control-app/workflow.json
{
  "name": "truenas_control_app",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "truenas_control_app",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "truenas_control_app",
      "notes": "Control TrueNAS apps - start, stop, or restart. Parameters: app_name (required, string - the app name like 'radarr' or 'jellyfin'), action (required, string - 'start', 'stop', or 'restart')"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nconst appName = data.app_name || data.appName || data.name;\nconst action = (data.action || 'start').toLowerCase();\n\n// Validate app name\nif (!appName) {\n  return { error: true, message: 'Please specify which app to control.' };\n}\n\n// Map action to API endpoint\nlet endpoint;\nswitch (action) {\n  case 'start':\n    endpoint = 'start';\n    break;\n  case 'stop':\n    endpoint = 'stop';\n    break;\n  case 'restart':\n  case 'redeploy':\n    endpoint = 'redeploy';\n    break;\n  default:\n    return { error: true, message: `Unknown action ${action}. Use start, stop, or restart.` };\n}\n\nreturn {\n  appName: appName,\n  action: action,\n  endpoint: endpoint\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=${TRUENAS_URL}/api/v2.0/app/{{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.appName) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "control-app",
      "name": "Control App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "truenas_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst appName = $('Validate Input').item.json.appName;\nconst action = $('Validate Input').item.json.action;\n\n// Check if we got a job ID (success) or error\nif (typeof data === 'number' || (typeof data === 'string' && !isNaN(data))) {\n  const actionVerb = action === 'stop' ? 'stopping' : (action === 'restart' ? 'restarting' : 'starting');\n  \n  return {\n    message: `${appName} is ${actionVerb}. I'll let you know if there's a problem.`,\n    app: appName,\n    action: action,\n    jobId: data,\n    success: true\n  };\n} else if (data.error || data.message || (typeof data === 'string' && data.includes('Error'))) {\n  const errorMsg = data.message || data.error || data || 'Unknown error';\n  \n  return {\n    message: `Failed to ${action} ${appName}. ${errorMsg}`,\n    app: appName,\n    action: action,\n    jobId: null,\n    success: false\n  };\n} else {\n  return {\n    message: `Sent ${action} command to ${appName}.`,\n    app: appName,\n    action: action,\n    jobId: null,\n    success: true\n  };\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nreturn {\n  message: data.message,\n  success: false,\n  jobId: null\n};"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-job",
              "leftValue": "={{ $json.jobId }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "has-job-id",
      "name": "Has Job ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize polling state\nconst prevData = $input.item.json;\nreturn {\n  ...prevData,\n  pollCount: 0,\n  maxPolls: 10\n};"
      },
      "id": "init-poll",
      "name": "Init Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        500
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "initial-wait",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/core/get_jobs?id={{ $json.jobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-job-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "truenas_api"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/app?name={{ $('Format Response').item.json.app }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-app-status",
      "name": "Check App Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "truenas_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobData = $('Check Job Status').item.json;\nconst appData = $input.item.json;\nconst appName = $('Format Response').item.json.app;\nconst action = $('Format Response').item.json.action;\nconst pollCount = $('Init Poll State').item.json.pollCount;\nconst maxPolls = $('Init Poll State').item.json.maxPolls;\n\nconst job = Array.isArray(jobData) ? jobData[0] : jobData;\nconst app = Array.isArray(appData) ? appData[0] : appData;\n\nconst jobState = job?.state || 'UNKNOWN';\nconst jobError = job?.error || null;\nconst appState = app?.state || 'UNKNOWN';\n\n// Expected final state\nconst expectedState = action === 'stop' ? 'STOPPED' : 'RUNNING';\n\n// Determine outcome\nlet outcome = 'unknown';\nlet announceMessage = '';\n\nif (jobState === 'FAILED') {\n  outcome = 'failed';\n  let errorClean = jobError || 'Unknown error';\n  if (errorClean.includes('\\n')) {\n    errorClean = errorClean.split('\\n')[0];\n  }\n  errorClean = errorClean.replace(/\\[\\w+\\]\\s*/g, '');\n  announceMessage = `There was a problem with ${appName}. ${errorClean}`;\n} else if (appState === expectedState) {\n  outcome = 'success';\n} else if (appState === 'DEPLOYING' || appState === 'STOPPING' || jobState === 'RUNNING') {\n  outcome = 'still_pending';\n} else {\n  // Job succeeded but app is in unexpected state\n  outcome = 'unexpected';\n  announceMessage = `${appName} finished but is ${appState.toLowerCase()} instead of ${expectedState.toLowerCase()}.`;\n}\n\nreturn {\n  outcome,\n  announceMessage,\n  jobState,\n  appState,\n  appName,\n  action,\n  pollCount,\n  maxPolls,\n  jobId: $('Format Response').item.json.jobId\n};"
      },
      "id": "evaluate-result",
      "name": "Evaluate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "still_pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "unexpected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unexpected"
            }
          ]
        },
        "options": {}
      },
      "id": "route-outcome",
      "name": "Route Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2880,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "max-polls",
              "leftValue": "={{ $json.pollCount }}",
              "rightValue": "={{ $json.maxPolls }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "check-poll-limit",
      "name": "More Retries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Increment poll count and pass through data for next iteration\nconst data = $input.item.json;\nreturn {\n  ...data,\n  pollCount: data.pollCount + 1\n};"
      },
      "id": "increment-poll",
      "name": "Increment Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "poll-wait",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/core/get_jobs?id={{ $json.jobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll-job-status",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "truenas_api"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=${TRUENAS_URL}/api/v2.0/app?name={{ $('Format Response').item.json.app }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll-app-status",
      "name": "Poll App Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "truenas_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobData = $('Poll Job Status').item.json;\nconst appData = $input.item.json;\nconst appName = $('Format Response').item.json.app;\nconst action = $('Format Response').item.json.action;\nconst pollCount = $('Increment Poll').item.json.pollCount;\nconst maxPolls = $('Increment Poll').item.json.maxPolls;\n\nconst job = Array.isArray(jobData) ? jobData[0] : jobData;\nconst app = Array.isArray(appData) ? appData[0] : appData;\n\nconst jobState = job?.state || 'UNKNOWN';\nconst jobError = job?.error || null;\nconst appState = app?.state || 'UNKNOWN';\n\nconst expectedState = action === 'stop' ? 'STOPPED' : 'RUNNING';\n\nlet outcome = 'unknown';\nlet announceMessage = '';\n\nif (jobState === 'FAILED') {\n  outcome = 'failed';\n  let errorClean = jobError || 'Unknown error';\n  if (errorClean.includes('\\n')) {\n    errorClean = errorClean.split('\\n')[0];\n  }\n  errorClean = errorClean.replace(/\\[\\w+\\]\\s*/g, '');\n  announceMessage = `There was a problem with ${appName}. ${errorClean}`;\n} else if (appState === expectedState) {\n  outcome = 'success';\n} else if (appState === 'DEPLOYING' || appState === 'STOPPING' || jobState === 'RUNNING') {\n  outcome = 'still_pending';\n} else {\n  outcome = 'unexpected';\n  announceMessage = `${appName} finished but is ${appState.toLowerCase()} instead of ${expectedState.toLowerCase()}.`;\n}\n\nreturn {\n  outcome,\n  announceMessage,\n  jobState,\n  appState,\n  appName,\n  action,\n  pollCount,\n  maxPolls,\n  jobId: $('Format Response').item.json.jobId\n};"
      },
      "id": "poll-evaluate",
      "name": "Poll Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "still_pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.outcome }}",
                    "rightValue": "unexpected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unexpected"
            }
          ]
        },
        "options": {}
      },
      "id": "poll-route",
      "name": "Poll Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Max retries exhausted - still deploying\nconst data = $input.item.json;\nreturn {\n  ...data,\n  announceMessage: `${data.appName} is still deploying after 2 minutes. You may want to check it out.`\n};"
      },
      "id": "timeout-message",
      "name": "Timeout Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "${CAAL_WEBHOOK_URL}/announce",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.announceMessage }) }}",
        "options": {}
      },
      "id": "caal-announce",
      "name": "CAAL Announce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        600
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Control App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control App": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Has Job ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Job ID?": {
      "main": [
        [
          {
            "node": "Init Poll State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Init Poll State": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Check App Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check App Status": {
      "main": [
        [
          {
            "node": "Evaluate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Result": {
      "main": [
        [
          {
            "node": "Route Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Outcome": {
      "main": [
        [],
        [
          {
            "node": "More Retries?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Retries?": {
      "main": [
        [
          {
            "node": "Increment Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Poll": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Poll App Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll App Status": {
      "main": [
        [
          {
            "node": "Poll Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Evaluate": {
      "main": [
        [
          {
            "node": "Poll Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Route": {
      "main": [
        [],
        [
          {
            "node": "More Retries?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Message": {
      "main": [
        [
          {
            "node": "CAAL Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}