tools/sports/espn-nba/workflow.json
{
  "name": "espn_nba",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espn_nba",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "espn_nba",
      "notes": "NBA data suite - scores, standings, and schedule. Parameters: action (required) - 'scores', 'standings', or 'schedule'; team (optional for scores, required for schedule) - team name like 'Lakers', 'Celtics', 'Warriors'; conference (optional for standings) - 'eastern' or 'western'. Examples: 'NBA scores', 'where are the Lakers in the standings', 'when do the Celtics play next'.",
      "id": "5798b1e8-8f33-4024-ade9-0f63c767111d"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\n\nlet data;\nif (typeof body === 'string') {\n  data = JSON.parse(body);\n} else if (typeof body === 'object') {\n  data = body;\n} else {\n  data = $input.item.json;\n}\n\nconst action = (data.action || 'scores').toLowerCase();\nconst teamQuery = data.team ? data.team.toLowerCase() : null;\nconst conferenceQuery = data.conference ? data.conference.toLowerCase() : null;\n\n// NBA team aliases\nconst teamAliases = {\n  'hawks': 'atlanta', 'atlanta': 'atlanta',\n  'celtics': 'boston', 'boston': 'boston',\n  'nets': 'brooklyn', 'brooklyn': 'brooklyn',\n  'hornets': 'charlotte', 'charlotte': 'charlotte',\n  'bulls': 'chicago', 'chicago': 'chicago',\n  'cavaliers': 'cleveland', 'cavs': 'cleveland', 'cleveland': 'cleveland',\n  'mavericks': 'dallas', 'mavs': 'dallas', 'dallas': 'dallas',\n  'nuggets': 'denver', 'denver': 'denver',\n  'pistons': 'detroit', 'detroit': 'detroit',\n  'warriors': 'golden state', 'golden state': 'golden state', 'dubs': 'golden state',\n  'rockets': 'houston', 'houston': 'houston',\n  'pacers': 'indiana', 'indiana': 'indiana',\n  'clippers': 'la clippers', 'los angeles clippers': 'la clippers',\n  'lakers': 'la lakers', 'los angeles lakers': 'la lakers',\n  'grizzlies': 'memphis', 'memphis': 'memphis',\n  'heat': 'miami', 'miami': 'miami',\n  'bucks': 'milwaukee', 'milwaukee': 'milwaukee',\n  'timberwolves': 'minnesota', 'wolves': 'minnesota', 'minnesota': 'minnesota',\n  'pelicans': 'new orleans', 'new orleans': 'new orleans',\n  'knicks': 'new york', 'new york': 'new york',\n  'thunder': 'oklahoma city', 'okc': 'oklahoma city', 'oklahoma city': 'oklahoma city',\n  'magic': 'orlando', 'orlando': 'orlando',\n  '76ers': 'philadelphia', 'sixers': 'philadelphia', 'philadelphia': 'philadelphia',\n  'suns': 'phoenix', 'phoenix': 'phoenix',\n  'trail blazers': 'portland', 'blazers': 'portland', 'portland': 'portland',\n  'kings': 'sacramento', 'sacramento': 'sacramento',\n  'spurs': 'san antonio', 'san antonio': 'san antonio',\n  'raptors': 'toronto', 'toronto': 'toronto',\n  'jazz': 'utah', 'utah': 'utah',\n  'wizards': 'washington', 'washington': 'washington'\n};\n\n// NBA team abbreviations for schedule API\nconst teamAbbreviations = {\n  'atlanta': 'atl', 'boston': 'bos', 'brooklyn': 'bkn', 'charlotte': 'cha',\n  'chicago': 'chi', 'cleveland': 'cle', 'dallas': 'dal', 'denver': 'den',\n  'detroit': 'det', 'golden state': 'gs', 'houston': 'hou', 'indiana': 'ind',\n  'la clippers': 'lac', 'la lakers': 'lal', 'memphis': 'mem', 'miami': 'mia',\n  'milwaukee': 'mil', 'minnesota': 'min', 'new orleans': 'no', 'new york': 'ny',\n  'oklahoma city': 'okc', 'orlando': 'orl', 'philadelphia': 'phi', 'phoenix': 'phx',\n  'portland': 'por', 'sacramento': 'sac', 'san antonio': 'sa', 'toronto': 'tor',\n  'utah': 'utah', 'washington': 'wsh'\n};\n\n// Abbreviation to team name for display\nconst abbrevToName = {\n  'ATL': 'Hawks', 'BOS': 'Celtics', 'BKN': 'Nets', 'CHA': 'Hornets', 'CHI': 'Bulls',\n  'CLE': 'Cavaliers', 'DAL': 'Mavericks', 'DEN': 'Nuggets', 'DET': 'Pistons', 'GS': 'Warriors',\n  'HOU': 'Rockets', 'IND': 'Pacers', 'LAC': 'Clippers', 'LAL': 'Lakers', 'MEM': 'Grizzlies',\n  'MIA': 'Heat', 'MIL': 'Bucks', 'MIN': 'Timberwolves', 'NO': 'Pelicans', 'NY': 'Knicks',\n  'OKC': 'Thunder', 'ORL': 'Magic', 'PHI': '76ers', 'PHX': 'Suns', 'POR': 'Trail Blazers',\n  'SAC': 'Kings', 'SA': 'Spurs', 'TOR': 'Raptors', 'UTAH': 'Jazz', 'WSH': 'Wizards'\n};\n\nlet normalizedTeam = null;\nlet teamAbbr = null;\nif (teamQuery) {\n  normalizedTeam = teamAliases[teamQuery] || teamQuery;\n  teamAbbr = teamAbbreviations[normalizedTeam];\n}\n\nreturn [{ json: { action, teamQuery, normalizedTeam, teamAbbr, conferenceQuery, abbrevToName } }];"
      },
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "id": "14ae681a-4295-40ca-ae3f-d200920f461a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "scores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scores"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "schedule"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "standings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "standings"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        0
      ],
      "id": "6fa54822-4af5-4d4c-9278-ee89e6f4026e"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/site/v2/sports/basketball/nba/scoreboard",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -200
      ],
      "id": "23889fb7-c514-43f5-aa6f-82922817c9a8"
    },
    {
      "parameters": {
        "url": "=https://site.api.espn.com/apis/site/v2/sports/basketball/nba/teams/{{ $('Parse Parameters').item.json.teamAbbr }}/schedule",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "9ce7b87c-9ec3-401d-bc98-3f5d87c54acc"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/v2/sports/basketball/nba/standings",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Standings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "id": "4676f53a-0d3a-43d0-898f-098a275384b0"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst teamFilter = params.normalizedTeam;\n\nconst events = data.events || [];\nif (events.length === 0) {\n  return { message: 'No NBA games scheduled today.', action: 'scores', games: [] };\n}\n\nconst games = [];\nfor (let i = 0; i < events.length; i++) {\n  const event = events[i];\n  const comp = event.competitions && event.competitions[0];\n  if (!comp) continue;\n  \n  const teams = comp.competitors || [];\n  let home = null, away = null;\n  for (let j = 0; j < teams.length; j++) {\n    if (teams[j].homeAway === 'home') home = teams[j];\n    else away = teams[j];\n  }\n  if (!home || !away) continue;\n  \n  const homeName = home.team.shortDisplayName || home.team.displayName;\n  const awayName = away.team.shortDisplayName || away.team.displayName;\n  const homeScore = home.score || '0';\n  const awayScore = away.score || '0';\n  \n  const status = event.status || {};\n  const statusType = status.type || {};\n  let state = statusType.state || 'pre';\n  let statusText = '';\n  \n  if (state === 'in') {\n    const period = status.period || 1;\n    const displayClock = status.displayClock || '';\n    const qtr = period === 1 ? '1st' : period === 2 ? '2nd' : period === 3 ? '3rd' : period + 'th';\n    statusText = qtr + ' quarter, ' + displayClock;\n  } else if (state === 'post') {\n    statusText = 'Final';\n  } else {\n    const startDate = new Date(event.date);\n    statusText = startDate.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n  }\n  \n  games.push({ home: homeName, away: awayName, homeScore, awayScore, state, status: statusText });\n}\n\nlet filteredGames = games;\nif (teamFilter) {\n  filteredGames = games.filter(g => \n    g.home.toLowerCase().includes(teamFilter) || g.away.toLowerCase().includes(teamFilter)\n  );\n}\n\nif (filteredGames.length === 0) {\n  const msg = teamFilter ? 'No games found for ' + teamFilter + ' today.' : 'No NBA games today.';\n  return { message: msg, action: 'scores', games: [] };\n}\n\nconst formatGame = (g) => {\n  if (g.state === 'post') {\n    const winner = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.home : g.away;\n    const loser = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.away : g.home;\n    const winScore = Math.max(parseInt(g.homeScore), parseInt(g.awayScore));\n    const loseScore = Math.min(parseInt(g.homeScore), parseInt(g.awayScore));\n    return winner + ' beat ' + loser + ' ' + winScore + ' to ' + loseScore + '.';\n  } else if (g.state === 'in') {\n    const leader = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.home : g.away;\n    const trailer = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.away : g.home;\n    const leadScore = Math.max(parseInt(g.homeScore), parseInt(g.awayScore));\n    const trailScore = Math.min(parseInt(g.homeScore), parseInt(g.awayScore));\n    if (g.homeScore === g.awayScore) {\n      return g.away + ' and ' + g.home + ' are tied ' + g.homeScore + ' to ' + g.awayScore + ', ' + g.status + '.';\n    }\n    return leader + ' lead ' + trailer + ' ' + leadScore + ' to ' + trailScore + ', ' + g.status + '.';\n  } else {\n    return g.away + ' at ' + g.home + ', ' + g.status + '.';\n  }\n};\n\nconst parts = filteredGames.slice(0, 5).map(formatGame);\nreturn { message: parts.join(' '), action: 'scores', games: filteredGames };"
      },
      "name": "Format Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -200
      ],
      "id": "9afa5b42-fffa-43cf-929e-0b14801a9f8b"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst events = data.events || [];\nconst team = data.team || {};\nconst teamName = team.shortDisplayName || team.displayName || params.teamQuery;\nconst abbrevToName = params.abbrevToName;\n\nconst now = new Date();\nconst upcoming = [];\nfor (let i = 0; i < events.length && upcoming.length < 3; i++) {\n  const ev = events[i];\n  const gameDate = new Date(ev.date);\n  if (gameDate > now) {\n    upcoming.push({\n      opponent: ev.shortName || ev.name,\n      date: ev.date,\n      gameDate: gameDate\n    });\n  }\n}\n\nif (upcoming.length === 0) {\n  return { message: 'No upcoming games found for the ' + teamName + '.', action: 'schedule', games: [] };\n}\n\nconst formatGame = (game) => {\n  const d = game.gameDate;\n  const today = new Date();\n  const tomorrow = new Date(today);\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  \n  let dayStr = '';\n  if (d.toDateString() === today.toDateString()) {\n    dayStr = 'tonight';\n  } else if (d.toDateString() === tomorrow.toDateString()) {\n    dayStr = 'tomorrow';\n  } else {\n    dayStr = 'on ' + d.toLocaleDateString('en-US', { weekday: 'long' });\n  }\n  \n  const parts = game.opponent.split(' @ ');\n  let opponentAbbr = parts[0];\n  let homeAway = 'vs';\n  if (parts.length === 2) {\n    const abbr = params.teamAbbr.toUpperCase();\n    if (parts[0].toUpperCase() === abbr) {\n      opponentAbbr = parts[1];\n      homeAway = 'at the';\n    } else {\n      opponentAbbr = parts[0];\n      homeAway = 'the';\n    }\n  }\n  const opponent = abbrevToName[opponentAbbr.toUpperCase()] || opponentAbbr;\n  \n  return { opponent, homeAway, dayStr };\n};\n\nconst next = formatGame(upcoming[0]);\nlet message = 'The ' + teamName + ' play ' + next.homeAway + ' ' + next.opponent + ' ' + next.dayStr + '.';\n\nif (upcoming.length > 1) {\n  const after = formatGame(upcoming[1]);\n  message += ' After that, ' + after.homeAway + ' ' + after.opponent + ' ' + after.dayStr + '.';\n}\n\nreturn { message, action: 'schedule', team: teamName, games: upcoming };"
      },
      "name": "Format Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "7d87a424-fbfe-4f09-9505-e4fc9b65ae3c"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst teamFilter = params.normalizedTeam;\nconst confFilter = params.conferenceQuery;\n\nconst suffix = (n) => { const s = ['th','st','nd','rd']; const v = n % 100; return s[(v-20)%10] || s[v] || s[0]; };\n\nconst conferences = {};\nconst children = data.children || [];\nfor (let i = 0; i < children.length; i++) {\n  const group = children[i];\n  const confName = group.name || 'Unknown';\n  const entries = (group.standings && group.standings.entries) || [];\n  const teams = [];\n  for (let j = 0; j < entries.length; j++) {\n    const entry = entries[j];\n    const team = entry.team || {};\n    let wins = 0, losses = 0;\n    const stats = entry.stats || [];\n    for (let k = 0; k < stats.length; k++) {\n      if (stats[k].name === 'wins') wins = stats[k].value || 0;\n      if (stats[k].name === 'losses') losses = stats[k].value || 0;\n    }\n    teams.push({\n      name: team.shortDisplayName || team.displayName || 'Unknown',\n      fullName: team.displayName || 'Unknown',\n      wins: wins,\n      losses: losses\n    });\n  }\n  teams.sort((a, b) => b.wins - a.wins || a.losses - b.losses);\n  teams.forEach((t, idx) => t.rank = idx + 1);\n  conferences[confName] = teams;\n}\n\nlet message = '';\nlet standings = {};\n\nif (teamFilter) {\n  let found = null;\n  let foundConf = '';\n  for (const confName in conferences) {\n    const teams = conferences[confName];\n    for (let i = 0; i < teams.length; i++) {\n      const t = teams[i];\n      const nameLC = t.name.toLowerCase();\n      const fullLC = t.fullName.toLowerCase();\n      if (nameLC.includes(teamFilter) || fullLC.includes(teamFilter)) {\n        found = t;\n        foundConf = confName;\n        break;\n      }\n    }\n    if (found) break;\n  }\n  if (!found) {\n    message = 'Could not find ' + teamFilter + ' in the NBA standings.';\n    standings = {};\n  } else {\n    message = 'The ' + found.name + ' are ' + found.rank + suffix(found.rank) + ' in the ' + foundConf + ' with ' + found.wins + ' wins and ' + found.losses + ' losses.';\n    standings = { team: found, conference: foundConf };\n  }\n} else if (confFilter) {\n  let targetConf = '';\n  for (const cName in conferences) {\n    if (cName.toLowerCase().includes(confFilter)) {\n      targetConf = cName;\n      break;\n    }\n  }\n  if (!targetConf) {\n    message = 'Could not find ' + confFilter + ' conference.';\n  } else {\n    const teams = conferences[targetConf].slice(0, 5);\n    const parts = [];\n    for (let i = 0; i < teams.length; i++) {\n      parts.push((i + 1) + '. ' + teams[i].name + ', ' + teams[i].wins + ' wins, ' + teams[i].losses + ' losses');\n    }\n    message = targetConf + ': ' + parts.join(', ') + '.';\n    standings = { conference: targetConf, teams: teams };\n  }\n} else {\n  const parts = [];\n  for (const cn in conferences) {\n    const teams = conferences[cn].slice(0, 3);\n    const teamParts = [];\n    for (let i = 0; i < teams.length; i++) {\n      teamParts.push((i + 1) + '. ' + teams[i].name);\n    }\n    parts.push(cn + ': ' + teamParts.join(', '));\n  }\n  message = 'NBA standings. ' + parts.join('. ') + '.';\n  standings = conferences;\n}\n\nreturn { message, action: 'standings', standings };"
      },
      "name": "Format Standings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ],
      "id": "e7c3e6a1-2af0-417b-9cbe-450998530720"
    },
    {
      "parameters": {
        "jsCode": "return { message: \"Schedule requires a team. Try: 'when do the Lakers play next'\", error: true, action: 'schedule' };"
      },
      "name": "Schedule No Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "d761d5e6-6dd2-430b-8905-6daf4fbee600"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.item.json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\nif (errorMsg.includes('ECONNREFUSED') || errorMsg.includes('ETIMEDOUT')) {\n  errorMsg = 'Cannot connect to ESPN. Try again later.';\n}\nreturn { message: 'Error: ' + errorMsg, error: true };"
      },
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "id": "05fd1479-cb77-4682-9909-264ca516f8b9"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "788c9081-fcfa-435a-adc0-ecae0596d63d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Parse Parameters').item.json.teamAbbr }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "name": "Has Team?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "id": "66b2fd05-864f-480d-9e95-80fe1f24e9fb"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** espn-nba\n**Description:** Get NBA scores, standings, and team schedules from ESPN.\n**version:** v1.0.0\n**id:** 1XGXLx1KljGBmQypxSygDw\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/sports/espn-nba)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -288
      ],
      "typeVersion": 1,
      "id": "8b8eac51-d73a-4d91-a1ac-7391483c11f6",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Team?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Team?": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scores": {
      "main": [
        [
          {
            "node": "Format Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Format Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Standings": {
      "main": [
        [
          {
            "node": "Format Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scores": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schedule": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Standings": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule No Team": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}