tools/sports/espn-mls/workflow.json
{
  "name": "espn_mls",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espn_mls",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "espn_mls",
      "notes": "MLS data suite - scores, standings, and schedule. Parameters: action (required) - 'scores', 'standings', or 'schedule'; team (optional for scores, required for schedule) - team name like 'Sounders', 'LAFC', 'Whitecaps'; conference (optional for standings) - 'eastern' or 'western'. Examples: 'MLS scores', 'where are the Sounders in the standings', 'when do the Whitecaps play next'.",
      "id": "6a4c0ceb-0820-4275-bb99-f2d554022ccc"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\n\nlet data;\nif (typeof body === 'string') {\n  data = JSON.parse(body);\n} else if (typeof body === 'object') {\n  data = body;\n} else {\n  data = $input.item.json;\n}\n\nconst action = (data.action || 'scores').toLowerCase();\nconst teamQuery = data.team ? data.team.toLowerCase() : null;\nconst confFilter = data.conference ? data.conference.toLowerCase() : null;\n\n// MLS team aliases for matching\nconst teamAliases = {\n  'sounders': 'seattle', 'seattle sounders': 'seattle', 'seattle': 'seattle',\n  'whitecaps': 'vancouver', 'vancouver whitecaps': 'vancouver', 'vancouver': 'vancouver',\n  'timbers': 'portland', 'portland timbers': 'portland', 'portland': 'portland',\n  'galaxy': 'la galaxy', 'los angeles galaxy': 'la galaxy', 'la galaxy': 'la galaxy',\n  'lafc': 'los angeles fc', 'los angeles football club': 'los angeles fc', 'los angeles fc': 'los angeles fc',\n  'san diego': 'san diego', 'san diego fc': 'san diego',\n  'earthquakes': 'san jose', 'san jose earthquakes': 'san jose', 'san jose': 'san jose',\n  'real salt lake': 'salt lake', 'rsl': 'salt lake', 'salt lake': 'salt lake',\n  'rapids': 'colorado', 'colorado rapids': 'colorado', 'colorado': 'colorado',\n  'fc dallas': 'dallas', 'dallas': 'dallas',\n  'dynamo': 'houston', 'houston dynamo': 'houston', 'houston': 'houston',\n  'sporting kc': 'sporting kansas city', 'skc': 'sporting kansas city', 'sporting kansas city': 'sporting kansas city', 'kansas city': 'sporting kansas city',\n  'minnesota united': 'minnesota', 'loons': 'minnesota', 'minnesota': 'minnesota',\n  'fire': 'chicago', 'chicago fire': 'chicago', 'chicago': 'chicago',\n  'crew': 'columbus', 'columbus crew': 'columbus', 'columbus': 'columbus',\n  'fc cincinnati': 'cincinnati', 'fcc': 'cincinnati', 'cincinnati': 'cincinnati',\n  'inter miami': 'miami', 'miami': 'miami',\n  'orlando city': 'orlando', 'orlando': 'orlando',\n  'atlanta united': 'atlanta', 'atl utd': 'atlanta', 'atlanta': 'atlanta',\n  'nashville sc': 'nashville', 'nashville': 'nashville',\n  'charlotte fc': 'charlotte', 'charlotte': 'charlotte',\n  'dc united': 'dc', 'washington': 'dc', 'dc': 'dc',\n  'cf montreal': 'montreal', 'montreal': 'montreal', 'impact': 'montreal',\n  'toronto fc': 'toronto', 'tfc': 'toronto', 'toronto': 'toronto',\n  'red bulls': 'ny red bulls', 'new york red bulls': 'ny red bulls', 'nyrb': 'ny red bulls', 'ny red bulls': 'ny red bulls',\n  'nycfc': 'new york city fc', 'new york city': 'new york city fc', 'new york city fc': 'new york city fc',\n  'revolution': 'new england', 'new england revolution': 'new england', 'new england': 'new england',\n  'union': 'philadelphia', 'philadelphia union': 'philadelphia', 'philadelphia': 'philadelphia',\n  'austin fc': 'austin', 'austin': 'austin',\n  'st louis city': 'st. louis', 'st louis': 'st. louis', 'st. louis': 'st. louis'\n};\n\n// MLS team IDs for schedule API\nconst teamIds = {\n  'seattle': '9726', 'vancouver': '9727', 'portland': '9713',\n  'la galaxy': '9568', 'los angeles fc': '22660', 'san diego': '22529',\n  'san jose': '9569', 'salt lake': '9570', 'colorado': '9571',\n  'dallas': '9572', 'houston': '9573', 'sporting kansas city': '9574',\n  'minnesota': '18586', 'chicago': '9575', 'columbus': '9576',\n  'cincinnati': '21291', 'miami': '21292', 'orlando': '15615',\n  'atlanta': '18305', 'nashville': '21293', 'charlotte': '24749',\n  'dc': '9577', 'montreal': '9578', 'toronto': '9579',\n  'ny red bulls': '9580', 'new york city fc': '17015', 'new england': '9581',\n  'philadelphia': '9582', 'austin': '23569', 'st. louis': '25621'\n};\n\nlet normalizedTeam = null;\nlet teamId = null;\nif (teamQuery) {\n  normalizedTeam = teamAliases[teamQuery] || teamQuery;\n  teamId = teamIds[normalizedTeam];\n}\n\nreturn [{ json: { action, teamQuery, normalizedTeam, teamId, confFilter } }];"
      },
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "id": "58bae834-3599-4aad-a5bc-a0a9b9cfe4e3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "scores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scores"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "schedule"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "standings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "standings"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        0
      ],
      "id": "e915161d-4950-4208-90e1-b0c627a46eca"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/site/v2/sports/soccer/usa.1/scoreboard",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -200
      ],
      "id": "fd70c64f-8a68-44d5-84ee-16b2652eca29"
    },
    {
      "parameters": {
        "url": "=https://site.api.espn.com/apis/site/v2/sports/soccer/usa.1/teams/{{ $('Parse Parameters').item.json.teamId }}/schedule",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "a213a0ff-c9a8-4d71-bb00-de05ae483b0c"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/v2/sports/soccer/usa.1/standings",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Standings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "id": "90657620-89ef-4065-afbd-287253144e9f"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst teamFilter = params.normalizedTeam;\n\nconst events = data.events || [];\nif (events.length === 0) {\n  return { message: 'No MLS games scheduled today.', action: 'scores', games: [] };\n}\n\nconst games = [];\nfor (let i = 0; i < events.length; i++) {\n  const event = events[i];\n  const comp = event.competitions && event.competitions[0];\n  if (!comp) continue;\n  \n  const teams = comp.competitors || [];\n  let home = null, away = null;\n  for (let j = 0; j < teams.length; j++) {\n    if (teams[j].homeAway === 'home') home = teams[j];\n    else away = teams[j];\n  }\n  if (!home || !away) continue;\n  \n  const homeName = home.team.shortDisplayName || home.team.displayName;\n  const awayName = away.team.shortDisplayName || away.team.displayName;\n  const homeScore = home.score || '0';\n  const awayScore = away.score || '0';\n  \n  const status = event.status || {};\n  const statusType = status.type || {};\n  let state = statusType.state || 'pre';\n  let statusText = '';\n  \n  if (state === 'in') {\n    statusText = status.displayClock || '';\n  } else if (state === 'post') {\n    statusText = 'Final';\n  } else {\n    const startDate = new Date(event.date);\n    statusText = startDate.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\n  }\n  \n  games.push({ home: homeName, away: awayName, homeScore, awayScore, state, status: statusText });\n}\n\nlet filteredGames = games;\nif (teamFilter) {\n  filteredGames = games.filter(g => \n    g.home.toLowerCase().includes(teamFilter) || g.away.toLowerCase().includes(teamFilter)\n  );\n}\n\nif (filteredGames.length === 0) {\n  const msg = teamFilter ? 'No games found for ' + teamFilter + ' today.' : 'No MLS games today.';\n  return { message: msg, action: 'scores', games: [] };\n}\n\nconst formatGame = (g) => {\n  if (g.state === 'post') {\n    if (g.homeScore === g.awayScore) return g.away + ' and ' + g.home + ' tied ' + g.homeScore + ' to ' + g.awayScore + '.';\n    const winner = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.home : g.away;\n    const loser = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.away : g.home;\n    const winScore = Math.max(parseInt(g.homeScore), parseInt(g.awayScore));\n    const loseScore = Math.min(parseInt(g.homeScore), parseInt(g.awayScore));\n    return winner + ' beat ' + loser + ' ' + winScore + ' to ' + loseScore + '.';\n  } else if (g.state === 'in') {\n    if (g.homeScore === g.awayScore) return g.away + ' and ' + g.home + ' are tied ' + g.homeScore + ' to ' + g.awayScore + ', ' + g.status + '.';\n    const leader = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.home : g.away;\n    const trailer = parseInt(g.homeScore) > parseInt(g.awayScore) ? g.away : g.home;\n    return leader + ' lead ' + trailer + ' ' + Math.max(parseInt(g.homeScore), parseInt(g.awayScore)) + ' to ' + Math.min(parseInt(g.homeScore), parseInt(g.awayScore)) + ', ' + g.status + '.';\n  } else {\n    return g.away + ' at ' + g.home + ', ' + g.status + '.';\n  }\n};\n\nconst parts = filteredGames.slice(0, 5).map(formatGame);\nreturn { message: parts.join(' '), action: 'scores', games: filteredGames };"
      },
      "name": "Format Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -200
      ],
      "id": "a216467f-4f55-45e1-a06e-d0fa024067ff"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst events = data.events || [];\nconst team = data.team || {};\nconst teamName = team.shortDisplayName || team.displayName || params.teamQuery;\n\nconst now = new Date();\nconst upcoming = [];\nfor (let i = 0; i < events.length && upcoming.length < 3; i++) {\n  const ev = events[i];\n  const gameDate = new Date(ev.date);\n  if (gameDate > now) {\n    const comp = ev.competitions && ev.competitions[0];\n    let opponent = '', homeAway = 'vs';\n    if (comp && comp.competitors) {\n      for (let j = 0; j < comp.competitors.length; j++) {\n        const c = comp.competitors[j];\n        const cTeam = c.team || {};\n        if (cTeam.id !== params.teamId) {\n          opponent = cTeam.shortDisplayName || cTeam.displayName || 'Unknown';\n          homeAway = c.homeAway === 'home' ? 'at' : 'vs';\n        }\n      }\n    }\n    upcoming.push({ opponent, homeAway, date: ev.date, gameDate });\n  }\n}\n\nif (upcoming.length === 0) {\n  return { message: 'No upcoming games found for ' + teamName + '.', action: 'schedule', games: [] };\n}\n\nconst formatGame = (game) => {\n  const d = game.gameDate;\n  const today = new Date();\n  const tomorrow = new Date(today); tomorrow.setDate(tomorrow.getDate() + 1);\n  let dayStr = d.toDateString() === today.toDateString() ? 'tonight' :\n               d.toDateString() === tomorrow.toDateString() ? 'tomorrow' :\n               'on ' + d.toLocaleDateString('en-US', { weekday: 'long' });\n  return { opponent: game.opponent, homeAway: game.homeAway, dayStr };\n};\n\nconst next = formatGame(upcoming[0]);\nlet message = teamName + ' play ' + next.homeAway + ' ' + next.opponent + ' ' + next.dayStr + '.';\nif (upcoming.length > 1) {\n  const after = formatGame(upcoming[1]);\n  message += ' After that, ' + after.homeAway + ' ' + after.opponent + ' ' + after.dayStr + '.';\n}\n\nreturn { message, action: 'schedule', team: teamName, games: upcoming };"
      },
      "name": "Format Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "5d04abf3-8c7b-4dfe-b177-bf8b8d2dd87f"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst teamFilter = params.normalizedTeam;\nconst confFilter = params.confFilter;\n\nconst suffix = (n) => { const s = ['th','st','nd','rd']; const v = n % 100; return s[(v-20)%10] || s[v] || s[0]; };\n\nconst conferences = {};\nconst children = data.children || [];\nfor (const group of children) {\n  const confName = group.name || 'Unknown';\n  const entries = (group.standings && group.standings.entries) || [];\n  const teams = [];\n  for (const entry of entries) {\n    const team = entry.team || {};\n    const stats = entry.stats || [];\n    const getStat = (name) => (stats.find(s => s.name === name) || {}).value || 0;\n    teams.push({\n      name: team.shortDisplayName || team.displayName || 'Unknown',\n      fullName: team.displayName || 'Unknown',\n      points: getStat('points'), wins: getStat('wins'),\n      losses: getStat('losses'), draws: getStat('ties'),\n      gamesPlayed: getStat('gamesPlayed')\n    });\n  }\n  teams.sort((a, b) => b.points - a.points);\n  teams.forEach((t, i) => t.rank = i + 1);\n  conferences[confName] = teams;\n}\n\nlet message = '', standings = conferences;\n\nif (teamFilter) {\n  let found = null, foundConf = '';\n  for (const confName in conferences) {\n    const team = conferences[confName].find(t => \n      t.name.toLowerCase().includes(teamFilter) || t.fullName.toLowerCase().includes(teamFilter)\n    );\n    if (team) { found = team; foundConf = confName; break; }\n  }\n  if (!found) {\n    message = 'Could not find ' + teamFilter + ' in the MLS standings.';\n    standings = {};\n  } else {\n    message = found.name + ' are ' + found.rank + suffix(found.rank) + ' in the ' + foundConf + ' with ' + found.points + ' points, ' + found.wins + ' wins, ' + found.draws + ' draws, ' + found.losses + ' losses.';\n    standings = { team: found, conference: foundConf };\n  }\n} else if (confFilter) {\n  let targetConf = '';\n  for (const cName in conferences) {\n    if (cName.toLowerCase().includes(confFilter)) { targetConf = cName; break; }\n  }\n  if (!targetConf) {\n    message = 'Could not find ' + confFilter + ' conference.';\n  } else {\n    const teams = conferences[targetConf].slice(0, 5);\n    message = targetConf + ': ' + teams.map((t, i) => (i + 1) + '. ' + t.name + ', ' + t.points + ' points').join(', ') + '.';\n    standings = { conference: targetConf, teams };\n  }\n} else {\n  const parts = [];\n  for (const cn in conferences) {\n    const teams = conferences[cn].slice(0, 3);\n    parts.push(cn + ': ' + teams.map((t, i) => (i + 1) + '. ' + t.name).join(', '));\n  }\n  message = 'MLS standings. ' + parts.join('. ') + '.';\n}\n\nreturn { message, action: 'standings', standings };"
      },
      "name": "Format Standings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ],
      "id": "31fa5dcd-1903-43f7-ad35-f9e63aec4ae9"
    },
    {
      "parameters": {
        "jsCode": "return { message: \"Schedule requires a team. Try: 'when do the Sounders play next'\", error: true, action: 'schedule' };"
      },
      "name": "Schedule No Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "b11e6c98-f00c-412e-985f-04d16d5a445f"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.item.json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\nif (errorMsg.includes('ECONNREFUSED') || errorMsg.includes('ETIMEDOUT')) {\n  errorMsg = 'Cannot connect to ESPN. Try again later.';\n}\nreturn { message: 'Error: ' + errorMsg, error: true };"
      },
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "id": "a412ca92-315d-4745-b635-e46dd259e3ca"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "4c243ae7-9f88-4754-aaf4-c85fc8be6086"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Parse Parameters').item.json.teamId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "name": "Has Team?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "id": "f44f1443-2ed2-4fc3-9f48-2d163424ce9f"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** espn-mls\n**Description:** Get MLS scores, schedules, and standings with optional team and conference filtering.\n**version:** v1.0.0\n**id:** 276uXOHHbo4JrrWs6-v6CA\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/sports/espn-mls)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -288
      ],
      "typeVersion": 1,
      "id": "b9e49104-67e8-4dce-b666-5e8a773d5d77",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Team?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Team?": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scores": {
      "main": [
        [
          {
            "node": "Format Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Format Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Standings": {
      "main": [
        [
          {
            "node": "Format Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scores": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schedule": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Standings": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule No Team": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}